body {
	font-family: 'Montserrat', sans-serif;
}
header	{
	background: #BBBBBB;
	padding: 25px 0 0;
}

.caixa	{ /*precisa por o menu dentro de uma caixa*/
	position: relative;
	width: 940px;
	margin: 0 auto;/*ficam os 940px caixa calcula a margem automaticamente indiferente da tela*/
}

nav {/*posicionamento statico, incia no padrão a esquerda, posicionamento relativo você altera dem relação a posição padrão ou estatica*/
	position: absolute;
	top: 110px ;
	right: 0px;
}

nav li {/* usando nav > li, apenas li onde o pai é nav*/
	display: inline;
	margin: 0 0 0 15px; /* em cima, embaixo, direta,cesquerda*/
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold; /*texto em negrito*/
	font-size: 22px;
	text-decoration: none;/*texto sem decoração, sem sublinhado*/
} 

nav a:hover {/* quando o mouse está apontando */
	color: #C78C19;
	text-decoration: underline;
}
.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%; /*margem externa entre produtos*/
	padding:30px 20px;/*margem cima+baixo e esq+dire interna entre produtos e margem*/
	box-sizing: border-box;/*para que a pagina nao some pixel + percentual*/
	border-color: #000000;
	border:  2px solid #000000; /*pode ser feita em apenas uma declaracao*/
	/*border-width: 2px; borda pode ser feita de forma dividida top,botton,left and right
	border-style: solid;pode ser tambem tracejada, ou pontos*/
	border-top-width: 10px;
	border-radius: 10px;

}
.produtos li:hover {
	border-color: #C78C19;
	font-size: 40px;
}
.produtos li:active { /*Quando estiver com mouse pressionado*/
	border-color: #088C19;
}

.produtos li:hover h2 { /*Vai alterar o elemento h2, que já foi definido o tamanho do título*/
	font-size: 34px;
}
.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}
 .produto-descricao{
 	font-size: 18px;
 }
.produto-preco{
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer	{
	text-align: center;
	background: url("bg.jpg");/*chama a imagem de fundo e automaticamente ela preenche toda a página*/
	padding: 40px 0;
}

.copyright {
	color:  #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0 ;
	/*site unicode table tem busca de caracteres especiais */
}
main{
	
}
form{
	margin: 40px 0;
}
form label, form legend {/*se separado por vírgula aplica para duas tag´s*/
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao {
	display: block;
	margin: 0 20px;
	padding: 10px;
	width: 50%;
}

.checkbox { 
	margin: 20px 5px;

}
.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition:1s all;/*mudança de cor com mouse em cima demora 1 segundo all = todos elementos*/
	cursor: pointer;/*muda o mouse para mãozinha*/
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2) /*rotate(10deg); roda o item*/

}

table {
	margin: 20px 0 40px;
}
thead {
	background: #555555;
	color: white;
	font-weight: bold;
}
td, th {
	border: 1px solid #000000;
	padding: 8px 15px; 
}

/*Css da página inicial*/
.banner {
	width: 100%;
}
.titulo-principal{
	text-align: center;
	font-size: 2em;/*faz o tamanho da fonte de acordo com a fonte padrão 2x*/
	margin: 0 0 1em;/*faz o espaço de acordo com tamanho da fonte */
	clear: left;/*Limpa o float*/
	/*color: rgba(0,0,0.3); //rgba  deixa cores com opacidade */
}
.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.titulo-principal:first-letter {/*Aplica negrito para primeiras letras*/
	font-weight: bold;
}

/*


p:first-line { para mudar apenas uma linha
	font-style: italic;
} */


.principal p {
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}
.lista-beneficios {
	width: 40%;
	display: inline-block; /*Inline block considera até linhas em branco no html*/
	vertical-align: top;
}
.utensilios {
	width:120px ;
	float: left ;/*Afeta toda a página, deixa de ocupar espaço*/
	margin: 0 20px 20px 0;/*Ordem cima, direita, baixo, esquerda*/
}

.mapa	{
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);/*Fazer o gradiente de quantas cores quiser (45deg, white50%) faz angulação, cor ocupa 50%*/

}
.mapa-conteudo {

	width: 940px;
	margin: 0 auto;
	}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.itens {
	line-height: 1.5; /*Altura da linha*/
}
.itens:first-child{ /*apenas o primeiro item,nth-child(n) para qualquer item, nth-child(2n) itens pares*/
	font-weight: bold;
}
.itens:before{ /*Pseudo-classe para colocar algo antes*/
	content: "✵";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1.3; /*Deixa com menos luz um elemento*/
	transition: 400ms;
	box-shadow: 10px 10px 5px 20px #000000;/*sombreamento preto com 5px de transição para transparente 20px
	 							coloca luz mais perto podem ser feitas mais sombras
	 							blox-shadow : inset cria sompra de fora para dentro
	 							text-shadow cria uma sombra para o texto*/
}
.imagem-beneficios:hover {
	opacity: 0.3; /*Deixa com menos luz um elemento*/
}
.video	{
	width: 560px;
	margin: 1em auto;
}

/*Tratamento para navegação responsiva ,pelo celular*/
 @media screen and (max-width:  480px){
 	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
 			width: auto;
 	}
 	h1 {
 		text-align: center;
 	}
 	nav {
 		position: static;
 	}
 	.lista-beneficios, .imagem-beneficios{
 		width: 100%;
 	}
 }
 


/*Seletores avançados CSS3
main > p {} // atinge apenas <p> diretamente filho do <main>
img + p {} // atinge o primeiro filho do <img> depois do <p>
img ~ p {} // atinge todos os <p> filhos depois do <img>
.principal p: not(missao);{} // atinge todos os <p> que não são o <id missão>
*/

/*Cálculos avançados CSS3
width : calc (40% - (226px *4)/4); faz um ajuste de imagem por exemplo: ;
*/